@use "../utilities/mixins";

.navbar {
    position: sticky;
    top: 0;
    background: #0079FF;
    left: 0;
    right: 0;
    z-index: 10000;
    --bs-navbar-toggler-focus-width:none;
    & a{
        color: white;
        font-size: .8rem;
        @include mixins.xs-devices {
            font-size: 1rem;
       }
    }

    &-brand{
        margin:0 1em;
        font-weight: bold;
        text-transform: uppercase;
        & img{
            margin-right: .5em;
        }
        &:hover{
            color: white;
        }
        
    }
    &-toggler{
        margin-right: 1em;
       background-color: white;
       outline: none;
        &-icon{
            background-color: white;
        }
    }
    &-social{
       
        display: flex;
        justify-content: center;
        align-items: center;
        @include mixins.large-devices {
			 margin-right: 1em;
		}

        & i{
            font-size: 1.6rem;
            padding: .5em;
            transition: all .6s;
            &:hover{
                color: #F6FA70;
            }
        }
    }
    
}

.nav-link{
    text-align: center;
    &:hover{
        color: #F6FA70
    }
}

.bg-body-tertiary{
    background-color: #0079FF !important;
}

.active{
    font-weight: bold;
    color: #F6FA70 !important;
}

